<style>
    
/*navbar style*/
.navbar {
    padding-bottom: 100%;
    margin-right: 400px;
    text-align: justify;
    font-size: 30px;
}

.navbar ul{
    list-style-type:none;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 50%;
}

#li{
 height: 50px;
}


#home {
    padding: 20px;
    color:#6c6868;
} #home img{
    height: 27px;
    text-align: left;
}

#servis {
    color:#6c6868;
    padding: 20px;
} #servis img{
    height: 26px;
    text-align:left;
}

#ourproduct {
    color:#6c6868;
    padding: 20px;
} 
#ourproduct img{
    height: 26px;
    text-align:left;
}

#aboutus {
    color:#6c6868;
    padding: 20px;
}

#login_signin {
    color:#6c6868;
    padding: 20px;
}

</style>
<!--navbar-->
<div class="navbar" id="navbar">
    <table>   <ul>
    <li id="li"><a href="main_homepage.php" id="home"><img src="../main_homepage_asset/homepage_logo.png">Homepage </a></li>
    <li id="li"><a href ="../layout/login.php" id="login_signin">Login / Sign-in</a></li>
    <li id="li"><a href="" id="servis"><img src="../main_homepage_asset/servis_logo.png">Services Call</a></li>
    <li id="li"><a href="" id="ourproduct"><img src="../main_homepage_asset/product.png">Our Product</a></li>
    <li id="li"><a href="" id="aboutus">About Us</a></li>
    </ul>
</table>
</div>